@import '../config';

.b-context {
    margin-top: (baseLineHeight*1.5);
    margin-bottom: baseLineHeight;
    padding: (baseLineHeight / 2) (baseLineHeight - 2px);
    border-left: 2px solid #c00;
}